p:first-letter
{
	font-size: 114pt;
	color: orange;
}
p
{
	font-size:19pt;
	color:turquoise;
}

h1
{
	color:#32179F;
	font-size:20pt;
}
h1:first-letter
{
	color:silver;
	font-size:100px;
}
p#linia:first-line
{
  color:red;
  font-size:15pt;
}
p#linia
{
	font-size:19pt;
	color:turquoise;
}
/*Igor Pędziwilk*/
<html>
<head>
<link rel="stylesheet" type="text/css" href="pedz_z67_kod.css">
</head>

<body>
<p>
Program komputerowy (ang. computer program) – sekwencja symboli opisująca realizowanie obliczeń zgodnie z pewnymi regułami zwanymi językiem programowania[1]. Program jest zazwyczaj wykonywany przez komputer (np. wyświetlenie strony internetowej), zwykle bezpośrednio, jeśli wyrażony jest w języku zrozumiałym dla danej maszyny lub pośrednio.
</p>
<p>
Informatyka (ang. computer science) – nauka ścisła oraz techniczna zajmująca się przetwarzaniem informacji, w tym również technologiami przetwarzania informacji oraz technologiami wytwarzania systemów przetwarzających informacje
</p>
<h1>CSS są piękne</h1>
<p id="linia">
Kolejnym pseudoelementem jest :first-line, który przeciwieństwie do<br> poprzednika
obejmuje formatowaniem całą pierwszą linię, a nie tylko pierwszą liter
</p>
</body>
<!--Igor Pędziwilk -->
</html>	